@font-face {
  font-family: "Google Sans Flex";
  src: url(GoogleSansFlex.ttf);
  font-weight: 1 1000;
  font-stretch: 25% 151%;
}
:root {
  --bs-font-sans-serif: "Google Sans Flex", Roboto, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
